<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accountService.currentUser$ |async">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/errors">Errors</a>
          </li>
        </ng-container>
      </ul>
      <div >
        <ng-container *ngIf="(accountService.currentUser$ |async) as user; else elseTemplate">
          <div class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username|titlecase}}<span class="caret"></span></a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a routerLink='/member/edit/' class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="Logout()">Logout</a>
            </div>
          </div>
        </ng-container>

        <ng-template #elseTemplate>
          <div>
            <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="Login()" autocomplete="off">
              <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
                placeholder="Username">
              <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
                placeholder="Password">
              <button class="btn btn-success" type="submit">Login</button>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
